# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
.hash
.idea
decatime-neko.iml
output.xml
template.xml
index.html
content/
haxe*
openfl*
sqlite*
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
